:root {
  --text-color: #000000;
  --header-textbox-color: #ffffff;
  --main-bg-color: #134d71;
  --secondary-bg-color: #78a7c6;;
  --tertiary-bg-color: #f7e4bf;
}

body {
  font-family: 'Quicksand', sans-serif;
  color: var(--text-color);
  background-image: linear-gradient(var(--main-bg-color), var(--secondary-bg-color), var(--tertiary-bg-color));
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.page-title {
  color: var(--header-textbox-color)
}

.favorites,
.message-form__container,
.quote,
.wrapper,
.message-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.message-form__container,
.quote,
.favorites__quote
 {
  flex-wrap: wrap;
  background-color: var(--header-textbox-color);
  border-radius: 12px;
  padding: 20px;
}

.quote {
  justify-content: center;
  width: 60%;
}

.wrapper {
  min-height: 75vh;
}

.message-form {
  min-width: 40%;
}

.message-form__inputs-container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px 15px;
}

.favorites__quote {
  align-items: center;
  margin: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.messsage-form__header {
  color: var(--header-textbox-color);
  text-align: center;
}

.message-form__button,
.quote__button,
.favorites__delete-btn {
  color: var(--header-textbox-color);
  background-color: var(--main-bg-color);
  border-radius: 6px;
  padding: 7px 20px;
  border: none;
}

.quote--text {
  text-align: center;
}

.quote__icon {
  padding: 30px;
  width: 80px;
}

.favorites__delete-btn {
  padding: 7px 10px;
  margin-left: 20px;
}

.hidden {
  display: none;
}
